:root {
    --main-bg-primary-color: #0c2d48;
    --main-bg-secondary-color: #145da0;
    --main-text-primary-color: #b1d4e0;
    --main-text-secondary-color: #2e8bc0;
}

.App {
    text-align: center;
}

.App-header {
    background-color: var(--main-bg-primary-color);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: var(--main-text-primary-color);
}
